.home {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 2rem;
  min-block-size: 100%;

  h1 {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary_600);
    font-size: 2.5rem;
  }

  .history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    > ul {
      display: flex;
      gap: 1rem;
      > li {
        background-color: var(--primary_50);
        padding: 0.25rem 0.75rem;
        border-radius: 99px;
      }
    }
  }
}
